# range operator

In [1]:
for item in range(0,11):
    print(item)

0
1
2
3
4
5
6
7
8
9
10

In [4]:
for item in range(0,11,2):
    print(item)

0
2
4
6
8
10

In [5]:
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [6]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# enumerate function :

In [11]:
index_count =0
word = 'abcde'

for lettrs in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [12]:
index_count = 0

for letters in 'abcde':
    print('the letter {} is in the index position {}'.format(letters,index_count))
    index_count += 1

the letter a is in the index position 0
the letter b is in the index position 1
the letter c is in the index position 2
the letter d is in the index position 3
the letter e is in the index position 4

# we can simplify this above method by 'enumerate' function :

In [13]:
word = 'abcdefghijkl'

for letter in enumerate(word):
    print(letter)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')
(5, 'f')
(6, 'g')
(7, 'h')
(8, 'i')
(9, 'j')
(10, 'k')
(11, 'l')

In [17]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\t')

0
a

1
b

2
c

3
d

4
e

# zip function

In [20]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']

In [21]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [22]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

# in keyword operator

In [23]:
'x' in [1,2,3]

False

In [25]:
'a' in ['a','b']

True

In [26]:
'A' in 'Anasuya'

True

In [29]:
'hello' in {'hello':100}  # can find the key in any dictionary

True

In [30]:
d= {'k1':100,'k2':200}

200 in d.values()

True

# min - max function in list

In [31]:
mylist = [55.55,99.65665,22.66]

In [32]:
min(mylist)

22.66

In [33]:
max(mylist)

99.65665

# shuffle function

In [34]:
from random import shuffle

In [35]:
mlist = [1,2,3,4,5,6,7,8,9,10]

In [39]:
shuffle(mlist)      #inplace function

In [40]:
mlist

[1, 4, 6, 9, 2, 3, 7, 8, 10, 5]

In [41]:
from random import randint

In [42]:
randint(0,1090)

880

In [45]:
result = input('enter a number here:')

enter a number here:100

In [48]:
result        # always results in a string

'100'

In [49]:
int(result)

100

# list comprehension in python

In [51]:
mystring = 'hello'

In [52]:
mylist = []

for letters in mystring:
    mylist.append(letters)

In [53]:
mylist

['h', 'e', 'l', 'l', 'o']

In [54]:
mylist = [letter for letter in mystring]

In [55]:
mylist

['h', 'e', 'l', 'l', 'o']

In [56]:
mylist = [x for x in 'anasuya']

In [57]:
mylist

['a', 'n', 'a', 's', 'u', 'y', 'a']

In [58]:
mylist = [num for num in range(0,11)]

In [59]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [60]:
mylist = [num**2 for num in range(0,11)]

In [61]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [62]:
mylist = [x for x in range(0,11) if x%2==0]

In [63]:
mylist

[0, 2, 4, 6, 8, 10]

In [74]:
celcius = [0,10,20,30,40,50]

fahrenhit = [( (9/5)*temp+32) for temp in celcius]

In [75]:
fahrenhit

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0]

# nested if statement

In [76]:
mylist = []

In [79]:
for x in [2,4,6]:
    for y in [1,11,100]:
        mylist.append(x*y)

In [80]:
mylist

[2, 22, 200, 4, 44, 400, 6, 66, 600]

In [83]:
mylist = [(x*y) for x in [2,4,6] for y in [1,11,100]]

In [84]:
mylist

[2, 22, 200, 4, 44, 400, 6, 66, 600]